@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Zen+Kurenaido&display=swap');

html, body {
  font-family: 'Roboto Mono', monospace;
  
}

#app {
  font-family: 'Roboto Mono', monospace;
}

* {
  
  margin: 5px;
  padding: 5px;
}

table{
  box-sizing: border-box;
}

h1,h2,h3,h4,p,span{
  transform: rotate(0.04deg);
  font-weight: 500;
}

span{
  font-size: 22px;
}

.clear-flex{
  clear: both;
}

.main{
  width: 800px;
}

