@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

html, body {
  font-family: 'Zen Kurenaido', sans-serif;
}

#app {
  font-family: 'Zen Kurenaido', sans-serif;
}

* {
  margin: auto;
}

table{
  box-sizing: border-box;
}

h1,h2,h3,h4,p,span{
  transform: rotate(0.04deg);
}

span{
  font-size: 22px;
}

