.container-body{
    width: 100%;
    height: 500px;
}
.audio-display{
    display : flex;
}

.audio-player{
    float: left;
}

.audio-content{
    float: right;
}

.audio-img img{
    width: 200px;
    height: 267.77px;
}