.footer-body {
  width: 100%;
  height: 100px;
}

a {
  text-decoration: none;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
