.Info-body{
    z-index: 5;
    position: absolute;
    top : 50%;
    background-color: aquamarine;
    width: 500px;
    height: 500px;
    right: 50%;
    margin: -50px 0 0 -50px;
    display: none;

}