/* 
.kanvanContainer{
    display: flex;
    margin: 20px;
    text-align: center;
}

.beforeViewImpl {
    width: 300px;
    height: 300px;
    background-color: cadetblue;
}
.viewImplemented {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
}
.beforeApiImpl {
    width: 300px;
    height: 300px;
    background-color: coral;
}
.apiImpling {
    width: 300px;
    height: 300px;
    background-color: burlywood;
}
.apiImplemented {
    width: 300px;
    height: 300px;
    background-color: royalblue;
}

.kanvanList{
    width: 80%;
    height: 100px;
    background-color: white;
}

.kanvanInput{
}

.list-item{
    margin: auto;
    text-align: center;
    background-color: #eee;
    width: 80%;
    border-radius: 5px;
}

.dragOnMove{
    transform: rotate(5deg);
}

.drop-preview{
    opacity: 0.2;
    border: dotted 2px #eee;
    animation-duration: 200;
    z-index: 100;
}
 */

.dragStart-enter{
  rotate: (0deg);
  
}
.dragStart-enter-active{
  transform: all 2s ease-in;
  background-color: coral;
}
.dragStart-enter-to{
  rotate: (25deg);
}
.dragStart-leave{
  rotate: (25deg);
}
.dragStart-leave-active{
  transform: all 2s ease-in;
  background-color: coral;
}
.dragStart-leave-to{
  rotate: (0deg);
}

 body{
   background-color: #16161A;
   color: white;
 }

.kanvanContainer {
  display: flex;
  overflow-x: auto;
  gap: 8;
  border-collapse: 0;
  padding: 5px;
  margin: 10px auto;
  min-width: 300px;
  overflow-y: hidden;
}

.card-container {
  cursor: move;
  margin-top: 4px;
  margin-bottom: 8px;
}

.card-space {
  background-color: #414556;
  margin: 10px;
  border-radius: 20px;
  padding: 8px;
  position: relative;
}

.card {
  padding: 4px;
  width: 100%;
  height: 100%;
  display: inline;
  position: relative;
}
.card-in-menu {
  cursor: pointer;
  position: absolute;
  background-color: white;
  color:black;
  border-radius: 20px;
  text-align: right;
  right: 0;
  top: 70px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-in-menu p:hover{
}

.showMenu-enter-from {
  opacity: 0;
}
.showMenu-enter-active {
  transition: all 1s;
}
.showMenu-enter-to {
  opacity: 1;
}
.icons {
  width: 20px;
  vertical-align: bottom;
}

.cardMenu {
}
.cardMenu-drop {
  display: block;
}
.drop-placeholder {
  border: 2px dotted #FF8906;
  border-radius: 50px;
}
.kanvan-title {
  height: 40px;
  width: 270px;
  margin: 15px;
  background-color: #2C2F3B;
  border-radius: 15px;
  text-align: center;
}

.kanvan-title span{
  vertical-align:-webkit-baseline-middle;
}

.kanvan-column{
  background-color: #2C2F3B;
  margin: 15px;
  border-radius: 15px;
  width: 270px;
  height: 900px;
  box-sizing: content-box;
  overflow-y: scroll;
}

.cardGhostDrag {
  transform: rotate(5deg) scale(1.1);
  transition: all 0.2s ease-in;
  border-radius: 50px;
  color: white;
}
.cardGhostDrop {
  transition: all 5s ease-in;
  /* transform: rotate(-20deg) scale(0.9); */
}

.spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  /* border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial; */
}

::-webkit-scrollbar-thumb{
  /* border-radius: 30px;
  background-color: rgb(141, 133, 133);
  box-shadow: 0px 3px 12px rgba(255, 255, 255, 0.227);
  width: 0px;
  height: 8px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial; */
}